/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333333;
}

textarea {
    resize: vertical;
}

textarea.textarea-transition {
  transition: height 0.2s ease 0s;
  vertical-align: top;
}

.col-md-6 {
    height: 100%;
    position: relative;
}

.bs-app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  color: #777777;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 100px;
}